{% extends "base.html" %}
{% block title %}Timesheets{% endblock %}
{% block body_container %}
<!-- add timesheet modal -->
<div class="modal fade add-timesheet" tabindex="-1" role="dialog" aria-labelledby="addTimesheet" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h2 class="modal-title">Add Timesheet</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
            {{ addTimesheetForm.hidden_tag() }}
            <div class="form-group">
              {{ addTimesheetForm.date.label }}
              {{ addTimesheetForm.date (class="form-control datepicker") }}
            </div>
            <div class="form-group">
              {{ addTimesheetForm.timeSpent.label }}
              {{ addTimesheetForm.timeSpent (class="form-control") }}
            </div>
            <div class="form-group">
              {{ addTimesheetForm.enjoyment.label }}
              {{ addTimesheetForm.enjoyment (class="form-control") }}
            </div>
            <div class="form-group">
              {{ addTimesheetForm.notes.label }}
              {{ addTimesheetForm.notes (class="form-control") }}
            </div>
            <div class="form-group">
              {{ addTimesheetForm.milestone.label }}
              {{ addTimesheetForm.milestone (class="form-control") }}
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% if addTimesheetForm.errors %}
            {{ addTimesheetForm.errors }}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-timesheet">Add Timesheet</button>
  
<h1>Timesheets</h1>
{% if timesheets %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">date</th>
        <th scope="col">timeSpent</th>
        <th scope="col">enjoyment</th>
        <th scope="col">notes</th>
        <th scope="col">milestone</th>

      </tr>
    </thead>
    <tbody>
        {% for timesheet in timesheets %}
      <tr>
        <th scope="row">{{ timesheet.id }}</th>
        <td>{{ timesheet.date }}</td>
        <td>{{ timesheet.timeSpent}}</td>
        <td>{{ timesheet.enjoyment}}</td>
        <td>{{ timesheet.notes}}</td>
        <td>{{ timesheet.milestone}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}